include ../mixins/mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="icon", type="/images/icon", href="/images/logo.jpg")
        link(rel="stylesheet", href="/css/main.css")
        script.
            var userLoggedIn = !{userDetailsJson};
    body 
        block content
        script(type='module', src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
        script(nomodule='' , src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
        