extends layouts/main-layout.pug  
block content 
    +navbar(userDetails)
    .container 
        .home-row
            nav.sidebar 
                ul 
                    li
                        a(href="#")
                            ion-icon(name="home-outline")
                            | Home
                    li
                        a(href="#")
                            ion-icon(name="person-outline")
                            | Profile 
                    li
                        a(href="#")
                            ion-icon(name="notifications-outline")
                            | Notification
            .main-container 
                +createPostForm(userDetails)
                .messages 
    script(src="js/home.js" defer="")