extends layouts/form-layout.pug  
block content 
    .form-container 
        h1 Join Us Today
        p Sign up Now to Become a Member
        form#frm(method="POST")
            p.errorMessage #{errorMessage}
            .row 
                input#name(type="text" required="" name="name" value=name)
                label Name
            .row 
                input#email(type="text" required="" name="email" value=email)
                label Email
            .row 
                input#username(type="text" required="" name="username" value=username)
                label Username
            .row 
                input#password(type="password" required="" name="password")
                label Password
            .row 
                input#confrim(type="password" required="" name="confrim")
                label Confrim Password
            .row 
                button(type="submit") Sign Up 
        p Already a Member? 
            a(href="/login") Login Here 
    script(src="/js/register.js", defer="") 
